[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-push-notifications = "*"
django-environ = "*"
django-cors-headers = "*"
djangorestframework-simplejwt = "==4.6.0"
psycopg2 = "*"
mysqlclient = "*"
whitenoise = "*"
json2html = "*"
gunicorn = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.7"
